In [35]:
import pandas as pd 
import numpy as np

In [36]:
Weather_df = pd.read_csv("2018_historic_weather_3.csv")

In [37]:
Weather_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,4.15,-6.49,3.84,5.79,...,240,NaN,NaN,NaN,NaN,40,520,Rain,light intensity shower rain,09n
1,1514768400,2018-01-01 01:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,4.14,-5.79,3.65,5.86,...,240,NaN,NaN,NaN,NaN,75,520,Rain,light intensity shower rain,09n
2,1514772000,2018-01-01 02:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,4.61,-5.77,3.85,5.99,...,240,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
3,1514775600,2018-01-01 03:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,4.64,-5.73,4.00,6.14,...,240,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
4,1514779200,2018-01-01 04:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,5.04,-4.91,4.11,6.22,...,240,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,1546282800,2018-12-31 19:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,9.65,5.78,8.03,10.00,...,260,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
8796,1546286400,2018-12-31 20:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,9.27,5.52,8.22,10.00,...,250,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
8797,1546290000,2018-12-31 21:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,9.31,4.87,8.33,10.00,...,260,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
8798,1546293600,2018-12-31 22:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,9.19,4.30,8.33,10.00,...,260,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n
8799,1546297200,2018-12-31 23:00:00 +0000 UTC,0,Dublin,53.349805,-6.26031,8.91,4.39,8.08,9.44,...,250,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n

In [38]:
columns = list(Weather_df.columns.values)

In [39]:
for column in columns:
    print("{} null values:".format(column),Weather_df[column].isnull().sum())
print("--------------------")

dt null values: 0
dt_iso null values: 0
timezone null values: 0
city_name null values: 0
lat null values: 0
lon null values: 0
temp null values: 0
feels_like null values: 0
temp_min null values: 0
temp_max null values: 0
pressure null values: 0
sea_level null values: 8800
grnd_level null values: 8800
humidity null values: 0
wind_speed null values: 0
wind_deg null values: 0
rain_1h null values: 8734
rain_3h null values: 8800
snow_1h null values: 8800
snow_3h null values: 8800
clouds_all null values: 0
weather_id null values: 0
weather_main null values: 0
weather_description null values: 0
weather_icon null values: 0
--------------------

In [40]:
Weather_df.dtypes

dt                       int64
dt_iso                  object
timezone                 int64
city_name               object
lat                    float64
lon                    float64
temp                   float64
feels_like             float64
temp_min               float64
temp_max               float64
pressure                 int64
sea_level              float64
grnd_level             float64
humidity                 int64
wind_speed             float64
wind_deg                 int64
rain_1h                float64
rain_3h                float64
snow_1h                float64
snow_3h                float64
clouds_all               int64
weather_id               int64
weather_main            object
weather_description     object
weather_icon            object
dtype: object

In [41]:
Weather_df = Weather_df.drop(['city_name', 'feels_like', 'sea_level', 'grnd_level'
                       ,'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h', 'weather_icon', 'lat', 'lon'], axis=1)

In [42]:
Weather_df['date'] = pd.to_datetime(Weather_df['dt'],unit='s')

In [43]:
Weather_df = Weather_df.drop(['dt_iso', 'dt', 'timezone', 'temp_min', 
                              'temp_max', 'weather_id' , 'weather_description' ], axis=1)

In [44]:
Weather_df['date'] = pd.to_datetime(Weather_df['date'])
Weather_df['hour'] = Weather_df['date'].dt.hour
Weather_df['date'] = Weather_df['date'].dt.date

In [45]:
Weather_df['hour'] = Weather_df['hour'].astype('int64')
Weather_df['date'] = Weather_df['date'].astype('datetime64[ns]')

In [46]:
Weather_df.dtypes

temp                   float64
pressure                 int64
humidity                 int64
wind_speed             float64
wind_deg                 int64
clouds_all               int64
weather_main            object
date            datetime64[ns]
hour                     int64
dtype: object

In [47]:
Weather_df.to_csv('Clean_Weather_2018.csv', index=False, header=True , mode='a')